<h1>Sites</h1>

<h3>Create a Site</h3>
<%= render 'form' %>

<% @sites.each do |site| %>
    <div>
        <ul>
          <li>Name: <%= link_to "#{site.name}", site %></li>
          <li>Location: <%= site.location %></li>
        </ul>
    </div>
<% end %>
